@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Uso de fuente de roboto font-family: "Roboto", sans-serif; */

/* color principal:#E0F1E7 */
:root {
  --color-fondo-principal: #e0f1e7;
  --color-boton-primario: #0c7d69;
  --color-bordes-formulario: #959b99;
}

/* selecciones generales */
body {
  background-color: var(--color-fondo-principal);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* utilidades */
.d-block {
  display: block;
}

.mb-14 {
  margin-bottom: 14px;
}
/* contenedor general */
.contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nombre-apellido {
  display: flex;
  gap: 16px;
}
/* estilos formulario */
.formulario {
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 620px;
  padding: 15px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}
.input-group {
  width: 50%;
}

.input-field {
  height: 50px;
  border: 1px solid var(--color-bordes-formulario);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 28px;
}

button {
  background-color: var(--color-boton-primario);
  width: 95%;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 12px 20px;
  justify-content: center;
}

/* copy right */
.attribution {
  font-size: 12px;
  text-align: left;
  display: inline-block;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
